:root {
  --primary-color-branding: #3B5A9D;
  --secondary-color-branding: #FFFFFF;
  --tertiary-color-branding: #4FB2AA;
  --fourthiary-color-branding: #c3d0ed;
}

body{
  font-family: "Josefin Sans", sans-serif ;
   background-image: url("images/back1-edit.png");
   background-repeat: no-repeat;
   height: 800px;
   background-size: cover;
   background-position: center;
}

.logo{
  width: 100px;
  display: block;
  margin: auto;
}

.nav_bar{
  background-color: var(--primary-color-branding);
  display: flex;
  flex-wrap: wrap;

}

.navClickeableLink{
 
  color: var(--secondary-color-branding);
  text-decoration: none;
}

.navClickeableLink:hover{
  color: var(--tertiary-color-branding);
}


.menuList{
   display: flex;
  list-style: none;
  gap: 30px;
}

/*Login form style*/

.title-beer{
  font-weight: 400;
  font-size: 4rem;
}

.containerDiv{
  margin-top:40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.loginTitle{
  text-align: center;
}
.loginForm{
  background-color: var(--fourthiary-color-branding);
  border-radius: 8px;
  width: 300px;
  height: 380px;
}
.inputText{
margin-left: 15px;
}

.inputClassLogin{
  width: 270px;
  height: 30px;
  display: block;
  margin: auto;
  border-radius: 20px;
  border: none;
}

.loginbtn{
  background-color: var(--primary-color-branding);
  color: var(--secondary-color-branding);
  width: 270px;
  height: 35px;
  border-radius: 20px;
 border: none;
 display: block;
 margin: auto;
}

.loginbtn:hover{
  background-color: var(--tertiary-color-branding);
  cursor: pointer;
}

.containerThree{
opacity: 0;
}

/*index page*/
.bigLogo{
  width: 300px;
  display: block;
  margin: auto;
}

input.logoutBtn{
  background-color: var(--primary-color-branding);
  border: none;
  color: var(--secondary-color-branding);
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  
}

input.logoutBtn:hover{
  background-color: var(--tertiary-color-branding);
}
/*orderpage*/

.title-order{
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
}

.orderForm{
  background-color: var(--fourthiary-color-branding);
  border-radius: 8px;
  width: 450px;
  height: 400px;
  display: block;
  padding: 20px;
  margin: auto;
}

.orderInputLabel{
  margin-left: 15px;
}
.orderInputClass{
   width: 270px;
  height: 20px;
  display: block;
  margin: auto;
  border-radius: 20px;
  border: none;
}

input.addBtn{
  background-color: var(--primary-color-branding);
  border: none;
  cursor: pointer;
   width: 200px;
   height: 30px;
   margin-left: 20px;
   color: var(--secondary-color-branding);
   font-size: 0.8rem;
   font-weight: 500;
   border-radius: 20px;
}



input.viewBtn{
  background-color: var(--secondary-color-branding);
  border: none;
  cursor: pointer;
  width: 200px;
   height: 30px;
   font-size: 0.8rem;
   font-weight: 500;
   border-radius: 20px;
}

input.addBtn:hover,
input.viewBtn:hover
{
  background-color: var(--tertiary-color-branding);
  color: var(--secondary-color-branding);
}

/*edit page*/
.editForm{
  background-color: #bec3cd;
  width: 450px;
  height: 400px;
  display: block;
  padding: 20px;
  margin: auto;
}

.editBtnClass{
  
  background-color: var(--primary-color-branding);
  border: none;
  cursor: pointer;
  width: 200px;
  height: 30px;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--secondary-color-branding);
  display: block;
  margin: auto;
  border-radius: 20px;
}

.editBtnClass:hover{
background-color: var(--tertiary-color-branding);
color: var(--secondary-color-branding);
}

/*cart*/

.databaseContainer{
  width: 80%;
  border: none;
  border-collapse: separate;
  margin: auto;
  display: block;
}

td{
  background-color: var(--secondary-color-branding);
  padding: 5px 20px;
}
.titlesTable{
  background-color: var(--tertiary-color-branding);
}

.textFooter{
  background-color: var(--primary-color-branding);
  box-sizing: border-box;
  padding: 18px;
  text-align: center;
  color: white;
  position: fixed;
  left:0;
  bottom: -18px;
  width: 100%;

}